/* @font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/ibm-plex-sans-condensed-v7-latin-700.woff2') format('woff2');
} */
@font-face {
	font-family: 'IBM Plex Sans Condensed';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('/fonts/ibm-plex-sans-condensed-v7-latin-600.woff2') format('woff2');
}
:root {
	--background: #000;
	--foreground: #e8e5f3;

	--yellow: #ffc107;
	--yellow-burnt: #754600;
	--orange: #fd7e14;
	--orange-burnt: #602d00;
	--purple: #a754ff;
	--indigo: #7054ff;
	--watermelon: #ff5457;
	--watermelon-burnt: #541122;
	--turquoise: #00ffbf;
	--turquoise-burnt: #00514d;

	--primary: var(--yellow);
	--primary-ghost: var(--yellow-burnt);
	--secondary: var(--orange);
	--secondary-ghost: var(--orange-burnt);

	--stat-size: 2.25rem;
	--detail-size: 1rem;

	--h-gap: 21px;
	--v-gap: 14px;
	--list-gap: 42px;

	--max-w: 512px;

	--ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
	--ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	--ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	--ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

	--ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
	--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
	--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
	--ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

	--ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	--ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
	--ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
	--ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
	--ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: system-ui, sans-serif;
	background: #fafafa;
	font-family: 'IBM Plex Sans Condensed', system-ui, sans-serif;
	font-weight: 600;
	color: var(--foreground);
	background-color: var(--background);
}
small {
	font-size: var(--detail-size);
	line-height: var(--detail-size);
	display: block;
}
small:first-child {
	margin-top: 1px;
}
